$primary:   #5D5A5B;
$secondary: #279DD9;
$white:     #fff;

$bp-1200: 1200px;
$bp-1140: 1140px;
$bp-1050: 1050px;
$bp-992: 992px;
$bp-935: 935px;
$bp-768: 768px;
$bp-576: 576px;
$bp-425: 425px;
$bp-376: 376px;