$primary:   #5D5A5B;
$secondary: #279DD9;
$white:     #fff;

$bp-1600: 1600px;
$bp-1500: 1500px;
$bp-1441: 1441px;
$bp-1400: 1400px;
$bp-1200: 1200px;
$bp-1024: 1024px;
$bp-997: 997px;
$bp-769: 769px;
$bp-600: 600px;
$bp-426: 426px;