@import "vars";
@import "mixins";
@import "vendor/reset";
@import 'bootstrap/scss/bootstrap';

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: 'Gilroy-N';
    font-size: 1.4rem;
    line-height: 1.5;
    color: $primary;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks */
@import "blocks/header.scss";
@import "blocks/stylesheet.scss";
@import "blocks/header-main.scss";
@import "blocks/text.scss";
@import "blocks/form.scss";
@import "blocks/btn.scss";
@import "blocks/years.scss";
@import "blocks/profit.scss";
@import "blocks/five-product.scss";
@import "blocks/brands.scss";
@import "blocks/client.scss";
@import "blocks/ion.rangeSlider.scss";
@import "blocks/slick-theme.scss";
@import "blocks/slick.scss";
@import "blocks/calc.scss";
@import "blocks/city.scss";
@import "blocks/help.scss";
@import "blocks/footer-main.scss";
@import "blocks/footer.scss";