.calc {
    background: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
    margin-top: -50px;
    padding-top: 170px;
    @include breakpoint($bp-425) {
        padding-top: 90px;
    }
    &-content {
        .title {
            margin-bottom: 56px;
            @include breakpoint($bp-425) {
                margin-bottom: 40px;
            }
        }
    }
    &-info {
        display: flex;
        justify-content: space-between;
        @include breakpoint($bp-935) {
            justify-content: center;
            margin-bottom: 30px;
        }
        &__text {
            background: #F9F9F9;
            padding: 50px 0 50px 100px;
            width: 657px;
            height: 340px;
            background: url(../images/calc-img-1.png);
            margin-top: 50px;
            @include breakpoint($bp-768) {
                padding: 50px 0 50px 25px;
            }
            @include breakpoint($bp-425) {
                margin-top: 0px;
            }
            @include breakpoint($bp-376) {
                padding: 25px 0 25px 25px;
            }
            
        }
        &__title {
            font-family: 'Gilroy-EXB';
            font-size: 24px;
            line-height: 30px;
            color: $secondary;
        }
        &__p {
            font-size: 18px;
            line-height: 25px;
        }
        &__block {
            margin-bottom: 30px;
        }
        &__img {
            @include breakpoint($bp-935) {
                display: none;
            }
        }
 
    }
    &-calc {
        background: #1C2A3A;
        padding: 50px;
        margin-bottom: 80px;
        position: relative;
        @include breakpoint($bp-576) {
            padding: 25px;
        }
        @include breakpoint($bp-425) {
            padding: 10px;
        }
        &::before {
            display: block;
            content: '';
            width: 95%;
            height: 10px;
            background: #1C2A3A;
            position: absolute;
            bottom: -10px;
            right: 2%;
        }
        &__title {
            font-size: 18px;
            line-height: 25px;
            color: $white;
            font-family: 'Gilroy-EXB';
            @include breakpoint($bp-425) {
                font-size: 16px;
                line-height: 20px;
            }
            
        }
        &__number {
            display: flex;
            justify-content: space-between;
            color: $white;
            margin-bottom: 50px;
            padding-top: 45px;
            @include breakpoint($bp-425) {
                padding-top: 25px;
                margin-bottom: 25px;
            }
        }
        &-li {
            list-style: none;
            position: relative;
            font-family: 'Gilroy-EXB';
            font-size: 18px;
            line-height: 25px;
            &:first-child {
                &::after {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    background: #fff;
                    top: -30px;
                    left: 5px;
                    @include breakpoint($bp-425) {
                        top: -15px;
                        height: 10px;
                    }
                }
            }
            &:last-child {
                &::after {
                    display: block;
                    content: '';
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    background: #fff;
                    top: -30px;
                    right: 5px;
                    @include breakpoint($bp-425) {
                        top: -15px;
                        height: 10px;
                    }
                }
            }
            &::after {
                display: block;
                content: '';
                width: 1px;
                height: 20px;
                position: absolute;
                background: #fff;
                top: -30px;
                right: 50%;
                @include breakpoint($bp-425) {
                    top: -15px;
                    height: 10px;
                }
            }
            @include breakpoint($bp-576) {
                font-size: 16px;
                line-height: 22px;
            }
            @include breakpoint($bp-425) {
                font-size: 11px;
                line-height: 20px;
            }
        }
        &-info {
            padding: 50px 0 50px 40px;
            &-title {
                font-size: 38px;
                line-height: 55px;
                color: $white;
                font-family: 'Gilroy-EXB';
                margin-bottom: 20px;
                @include breakpoint($bp-992) {
                    font-size: 32px;
                    line-height: 45px;
                }
                @include breakpoint($bp-425) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            @include breakpoint($bp-768) {
                padding: 50px 0 50px 0px;
            }
            @include breakpoint($bp-425) {
                padding: 25px 0;
            }
        }
        &-profit-1 {
            background: $secondary;
            padding: 30px;
            font-size: 42px;
            line-height: 55px;
            text-transform: uppercase;
            color: $white;
            font-family: 'Gilroy-EXB';
            @include breakpoint($bp-768) {
                max-width: 400px;
                font-size: 36px;
                line-height: 45px;
            }
            @include breakpoint($bp-425) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
}

#calc-li-1 {
    padding-left: 10px;
    &::after {
        display: block;
        content: '';
        width: 1px;
        height: 20px;
        position: absolute;
        background: #fff;
        top: -30px;
        right: 25%;
        @include breakpoint($bp-425) {
            top: -15px;
            height: 10px;
        }
    }
}
#calc-li-3 {
    padding-right: 5px;
    &::after {
        display: block;
        content: '';
        width: 1px;
        height: 20px;
        position: absolute;
        background: #fff;
        top: -30px;
        right: 70%;
        @include breakpoint($bp-425) {
            top: -15px;
            height: 10px;
        }
    }
}
