.five-product {
    background: #ECEDFF;
    margin-top: -40px;
    padding-top: 160px;
    &-container {
        position: relative;
        .title {
            margin-bottom: 30px;
        }
        .p-18 {
            margin-bottom: 80px;
            max-width: 516px;
        }
        &::after {
            display: block;
            content: '';
            width: 517px;
            height: 741px;
            position: absolute;
            right: -187px;
            top: 35px;
            background: url(../images/product-bg.png);
            @include breakpoint($bp-1140) {
                display: none;
            }
        }
    }
    &-blocks {
        max-width: 870px;
    }
    &-block {
        margin-bottom: 60px;
        &__text {
            @include breakpoint($bp-576) {
                text-align: center;
            }
        }
        &__img {
            display: flex;
            justify-content: center;
        }
    }
}
.five-product-block__text {
    font-size: 18px;
    line-height: 25px;
    @include breakpoint($bp-768) {
        font-size: 16px;
        line-height: 22px;
    }
}