.footer {
    padding: 30px 0;
    background: #F9F9F9;
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

    }
    &-info {
        max-width: 359px;
        text-align: center;
    }
    &-finish {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}