.footermain {
    background: url(../images/bg-5.jpg);
    padding-top: 120px;
    padding-bottom: 80px;
    @include breakpoint($bp-1140) {
        background-position: center;
    }
    @include breakpoint($bp-425) {
        padding: 40px 0;
    }
    &-content {
        .title {
            text-align: center;
            margin-bottom: 80px;
            @include breakpoint($bp-425) {
                margin-bottom: 40px;
            }
        }
    }
    &-block {
        font-family: 'Gilroy-EXB';
        font-size: 24px;
        line-height: 30px;
        max-width: 480px;
        display: flex;
        margin-bottom: 20px;
        @include breakpoint($bp-425) {
            font-size: 20px;
            line-height: 25px;
        }
        &__img {
            margin-top: -22px;
            @include breakpoint($bp-992) {
                transform: rotate(90deg);
                margin-top: 0;
            }
        }
        @include breakpoint($bp-992) {
            margin: 0 auto 20px;
        }
    }
    &-form {
        @include breakpoint($bp-992) {
            display: flex;
            justify-content: center;
        }
    }
}