form {
    max-width: 1100px;
    height: auto;
    background: linear-gradient(270deg, #2A3E57 0%, #1F2D3F 100%);
    position: relative;
    padding: 50px 35px 41px;
    &::before {
        display: block;
        content: '';
        width: 95%;
        height: 10px;
        background: #1C2A3A;
        position: absolute;
        bottom: -10px;
        right: 3%;
    }
}
.form-title {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Gilroy-EXB';
    margin-bottom: 30px;
    color: $white;
    text-align: center;
    @include breakpoint($bp-992) {
        font-size: 20px;
        line-height: 25px;
    }
}
.form-blocks {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--mobile {
        flex-direction: column;
    }
    @include breakpoint($bp-935) {
        flex-direction: column;
    }
}
.form-p {
    text-align: center;
    color: $white;
    font-size: 14px;
    line-height: 20px;
    max-width: 736px;
    margin: 0 auto;
    @include breakpoint($bp-992) {
        font-size: 12px;
        line-height: 16px;
    }
}
.form__link {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    input {
        width: 229px;
        height: 73px;
        padding: 25px 30px;
        outline: 0!important;
        outline-offset: 0!important;
        border: none;
        :active, :hover, :focus {
            outline: 0!important;
            outline-offset: 0!important;
        }
        @include breakpoint($bp-1140) {
            width: 200px;
        }
        @include breakpoint($bp-1050) {
            width: 180px;
        }
        @include breakpoint($bp-935) {
            width: 270px;
            margin-bottom: 10px;
            height: 85px;
        }
        @include breakpoint($bp-425) {
            width: 300px;
            margin-bottom: 10px;
            height: 85px;
        }
        @include breakpoint($bp-376) {
            width: 280px;
            margin-bottom: 10px;
            height: 85px;
        }
        &::placeholder {
            color: rgba(93, 90, 91, 0.6);
            font-size: 16px;
            line-height: 20px;
        }
    }
    &--mobile {
        input {
            width: 383px;
            height: 73px;
            margin-bottom: 20px;
        }
    }
}
#form3 {
    
    background: $secondary;
    &::before {
        background: #1976D2;
    }
    input {
        outline: none;
        box-shadow: none;

    }
}
#form5 {
    background: $secondary;
    &::before {
        background: #1976D2;
    }
    input {
        outline: none;
    }
}
#form6 {
    max-width: 540px;
    &::before {
        display: block;
        content: '';
        width: 95%;
        height: 10px;
        background: #1C2A3A;
        position: absolute;
        bottom: -10px;
        right: 2%;
    }
}
#form7 {
    width: 100%;
    background: none;
    position: relative;
    padding: 0;
    &::before {
        display: none;
    }
    .form-title {
        color: $primary;
        margin-bottom: 10px;
    }
    .form-p {
        color: $primary;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
        @include breakpoint($bp-992) {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .form-blocks {
        flex-direction: column;
    }
    .form__link {
        input {
            width: 325px;
            margin-bottom: 30px;
            @include breakpoint($bp-425) {
                width: 229px;
            }
        }
    }
    .btn {
        @include breakpoint($bp-425) {
            width: 260px!important;
        }
    }
}
.fancybox-content {
    padding: 50px;
    @include breakpoint($bp-425) {
        padding: 10px;
    }
}
#form8 {
    width: 100%;
    background: none;
    position: relative;
    padding: 0;
    &::before {
        display: none;
    }
    .form-title {
        color: $primary;
        margin-bottom: 10px;
    }
    .form-p {
        color: $primary;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
        @include breakpoint($bp-992) {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .form-blocks {
        flex-direction: column;
    }
    .form__link {
        input {
            width: 325px;
            margin-bottom: 30px;
            @include breakpoint($bp-425) {
                width: 229px;
            }
        }
    }
    .btn {
        @include breakpoint($bp-425) {
            width: 260px!important;
        }
    }
}
label.error {
    display: none!important;
}
input.error {
    color: red!important;
}