.header-main {
    background: url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    @include breakpoint($bp-1140) {
        background-position: center;
    }
    &__content {
        max-width: 732px;
        padding-top: 80px;
        position: relative;
        &::after {
            display: block;
            content: '';
            width: 495px;
            height: 407px;
            background: url(../images/header-main-img.png);
            position: absolute;
            right: -415px;
            top: 23px;
            @include breakpoint($bp-1140) {
                right: -350px;
            }
            @include breakpoint($bp-1050) {
                display: none;
            }
        }
        .title {
            margin-bottom: 50px;
            @include breakpoint($bp-576) {
                text-align: center;
            }
        }
        .p-24-b {
            margin-bottom: 50px;
        }
    }
}