.profit {
    background: #F9F9F9;
    padding-top: 120px;
    @include breakpoint($bp-768) {
        padding-top: 80px;
    }
    &-container {
        margin-bottom: 90px;
        @include breakpoint($bp-768) {
            margin-bottom: 60px;
        }
        &-profit {
            margin-bottom: 120px;
            .title {
                margin-bottom: 80px;
            }
            @include breakpoint($bp-768) {
                margin-bottom: 80px;
            }
        }
        &-win {
            .title {
                margin-bottom: 80px;
            }
        }
    }
    &-block {
        padding: 50px 0 50px 50px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        margin-bottom: 20px;
        min-height: 270px;
        &-info {
            max-width: 341px;
        }
        &__title {
            font-family: 'Gilroy-EXB';
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
            color: $secondary;
        }
        &__subtitle {
            font-family: 'Gilroy-EXB';
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 20px;
        }
        &__p {
            font-size: 18px;
            line-height: 25px;
        }
        &__img {
            @include breakpoint($bp-376) {
                display: none;
            }
        }
    }
}

.win-img {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    img {
        @include breakpoint($bp-768) {
            max-width: 230px;
            height: auto;
            margin: 0 auto;
        }
    }
}
.win-text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    @include breakpoint($bp-768) {
        text-align: center;
    }
    @include breakpoint($bp-376) {
        font-size: 20px;
        line-height: 25px;
    }
}
.win-profit {
    color: $secondary;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Gilroy-EXB';
    @include breakpoint($bp-768) {
        text-align: center;
    }
    @include breakpoint($bp-376) {
        font-size: 20px;
        line-height: 25px;
    }
}
.win-container-block {
    @include breakpoint($bp-768) {
        margin-bottom: 30px;
    }
}