.title {
    font-size: 42px;
    line-height: 55px;
    font-family: 'Gilroy-EXB';
    text-transform: uppercase;
    @include breakpoint($bp-992) {
        font-size: 32px;
        line-height: 45px;
    }
    @include breakpoint($bp-425) {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    @include breakpoint($bp-376) {
        font-size: 18px;
        line-height: 25px;
    }
}
.p-24 {
    font-size: 24px;
    line-height: 30px;
    @include breakpoint($bp-992) {
        font-size: 18px;
        line-height: 25px;
    }
    @include breakpoint($bp-425) {
        font-size: 16px;
        line-height: 22px;
    }
    @include breakpoint($bp-376) {
        font-size: 14px;
        line-height: 22px;
    }
}
.p-24-b {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Gilroy-EXB';
    @include breakpoint($bp-992) {
        font-size: 18px;
        line-height: 25px;
    }
    @include breakpoint($bp-425) {
        font-size: 16px;
        line-height: 22px;
    }
    @include breakpoint($bp-376) {
        font-size: 14px;
        line-height: 22px;
    }
}
.blue {
    color: $secondary;
}
.bold {
    font-family: 'Gilroy-EXB';
}
.white {
    color: $white;
}
.profit-b {
    font-size: 42px;
    line-height: 55px;
    @include breakpoint($bp-992) {
        font-size: 32px;
        line-height: 45px;
    }
    @include breakpoint($bp-425) {
        font-size: 16px;
        line-height: 22px;
    }
    @include breakpoint($bp-376) {
        font-size: 14px;
        line-height: 22px;
    }
}
.p-18 {
    font-family: 'Gilroy-N';
    font-size: 18px;
    line-height: 25px;
    @include breakpoint($bp-992) {
        font-size: 16px;
        line-height: 22px;
    }
    @include breakpoint($bp-425) {
        font-size: 12px;
        line-height: 16px;
    }
}