.title {
    font-size: 42px;
    line-height: 55px;
    font-family: 'Gilroy-EXB';
    text-transform: uppercase;
}
.p-24 {
    font-size: 24px;
    line-height: 30px;
}
.p-24-b {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Gilroy-EXB';
}
.blue {
    color: $secondary;
}
.bold {
    font-family: 'Gilroy-EXB';
}
.white {
    color: $white;
}
.profit-b {
    font-size: 42px;
    line-height: 55px;
}
.p-18 {
    font-family: 'Gilroy-N';
    font-size: 18px;
    line-height: 25px;
}