<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-content__logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="header-content__info">
                Франшиза международной консалтинговой компании с представительствами в Европе и США
            </div>
            <div class="header-content__phone">
                <div class="phone">
                    <div class="phone-img">
                        <img src="assets/images/phone.png" alt="">
                    </div>
                    <a href="tel:+88002347168">8 (800) 234-71-68</a>
                </div>
                <a data-fancybox href="#mobile" >Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</header>
