<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

        {{> header }}


                {{> body }}


                {{> footer}}
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.4/jquery.fancybox.min.js" integrity="sha512-lu0sjbkK/BSrjKyqcKZbU8rKB9hDW01niztDLKJEt6B0tA9C6tXjv3Z3O6eR2Efv8DcJxRpgue5PWTNRVFNMxg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
